@import 'variables';

.ab-wrapper {
  background-color: $grey;
  min-height: calc(100vh - 50px);
  padding-top: 50px;

  .ab-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
  }

  .ab-content {
    background-color: transparent;
    max-width: 640px;
  }

  .ab-description {
    margin: 0;
  }

  .ab-bar {
    bottom: 0;
    left: 0;
    position: absolute;

    .md-container {
      background-color: $white;
    }

    .md-bar {
      background-color: $grey;
    }
  }
}
