@import 'variables';

.dt-wrapper {
  background-color: $grey;
  min-height: calc(100vh - 80px);
  padding-top: 80px;

  .dt-grid-tile {
    overflow: hidden;
  }

  d3-bar {
    width: 95%;
  }

  d3-pie {
    width: 85%;

    .tooltip {
      background: $medium-grey;
      box-shadow: 0 0 5px $dark-grey;
      color: $black;
      display: none;
      font-size: 12px;
      left: 130px;
      padding: 10px;
      position: absolute;
      text-align: center;
      top: 95px;
      width: 80px;
      z-index: 10;
    }

    .key {
      font-size: 12px;
    }

    rect {
      cursor: pointer;
      stroke-width: 2;

      &.disabled {
        fill: $grey !important;
      }
    }

    h1 {
      font-size: 14px;
      text-align: center;
    }

    circle {
      stroke: $black;
      stroke-width: 1;
    }
  }

   @media screen and (max-width: 959px) {
     d3-pie {
       width: 70%;
     }
   }
}


.dtc-wrapper {
  min-height: calc(100vh - 80px);
  padding-top: 80px;
  background-color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .dtc-title {
    color: $transparent-blue;
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    margin: 0 auto 20px auto;
  }

  @media screen and (max-width: 600px) {
    .dtc-title {
      font-size: 40px;
    }
  }
}
