@import 'variables';

.hm-wrapper {
  display: flex;
  background: linear-gradient(to top, #fff, #076585);
  background: linear-gradient(to top, #076585, #fff);
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 50px);
  overflow: auto;
  padding-top: 50px;
  position: relative;

  .hm-section {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    z-index: 1;
  }

  .hm-title {
    color: $white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    margin: 0 auto 20px auto;
  }

  .hm-logo {
    width: 500px;
    height: 500px;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    opacity: 0.2;
    transform: translateY(-50%);
    animation: scale-toggle 15s infinite;

    svg path {
      transform: scale(10);
    }

    @keyframes scale-toggle {
      0%   {
        opacity: 0.2;
        transform: translateY(-50%) scale(1);
      }
      50%   {
        opacity: 0.05;
        transform: translateY(-50%) scale(1.4);
      }
      100% {
        opacity: 0.2;
        transform: translateY(-50%) scale(1);
      }
    }
  }

  .hm-description {
    color: $white;
    font-family: 'Ubuntu', sans-serif;
  }

  .hd-button {
    color: $black;
    background-color: $white;

    &:hover {
      color: $white;
    }
  }

  .hm-credits {
    bottom: 5px;
    color: $white;
    font-size: 10px;
    position: absolute;
    left: 0;
    opacity: 0.5;
    right: 0;
    text-align: center;
  }

  .hm-bar {
    bottom: 0;
    left: 0;
    position: absolute;

    .md-container {
      background-color: $white;
    }

    .md-bar {
      background-color: #2c3e50;
    }
  }
}
