@import 'variables';

.hm-wrapper {
  background: linear-gradient(to top, $blue, $white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 50px);
  overflow: hidden;
  padding-top: 50px;
  position: relative;

  .hm-section {
    margin: 0 auto;
    max-width: 500px;
    position: relative;
    text-align: center;
    width: 90%;
    z-index: 1;
  }

  .hm-title {
    color: $white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    margin: 0 auto 20px auto;
  }

  d3-plane {
    animation: scale-toggle 15s infinite;
    display: block;
    left: 0;
    margin: 0 auto;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;

    @keyframes scale-toggle {
      0% {
        opacity: 0.2;
        transform: translateY(-50%) scale(1);
      }
      50% {
        opacity: 0.05;
        transform: translateY(-50%) scale(1.6);
      }
      100% {
        opacity: 0.2;
        transform: translateY(-50%) scale(1);
      }
    }
  }

  .hm-description {
    color: $white;
    font-family: 'Ubuntu', sans-serif;
  }

  .hd-button {
    background-color: $white;
    color: $black;

    &:hover {
      background-color: $transparent-blue;
      color: $white;
    }
  }

  .hm-credits {
    bottom: 5px;
    color: $white;
    font-size: 10px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    text-align: center;
  }

  .hm-bar {
    bottom: 0;
    left: 0;
    position: absolute;

    .md-container {
      background-color: $white;
    }

    .md-bar {
      background-color: $blue;
    }
  }

  @media screen and (max-width: 600px) {
    .hm-section .hm-title {
      font-size: 40px;
    }
  }
}
